ul.pagination>li.active>a{
      /*background-color:#4caf50;*/
      background-color:#3061FD;
}
ul.pagination>li.active>a:hover{
      background-color:#3061FD;     
}
.hard_label{
      font-size:14px;
      padding:3px 6px;
}
#classification{
      position:fixed;
      left:0px;
      top:50%;
      width:150px;
      height:200px;
      margin-top:-150px;
      margin-left:-150px;
}
#classification_hint{
      padding-left:3px;
      padding-top:5px;
      top:50%;
      position:absolute;
      right:-27px;
      width:27px;
      height:100px;
      margin-top:-15px;
      /*background-color:#337AB5;*/
      color:white;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      cursor:pointer;
}
#classification_content{
      background-color:#ECECEC;
      /*border-top-right-radius:;*/
      padding:5px;
}
#classification_content>a{
      text-align:center;
      display:inline-block;
      width:60px;
      height:30px;
      line-height:30px;
      color:#666;
      font-weight:bold;
}
#classification_content>ul>li{
      border-top:1px solid #E0E0E0;
}
#classification_content>a:hover{
      text-decoration:none;
}
#classification_content>a.active{
      border-bottom:4px solid #24A95C;
      color:#333;
}
#classification_content>ul a{
      padding:3px 10px;
}
.row .table .toprow{      /* 直播列表的表头样式 */
	background:lightseagreen;
	font-family: "Microsoft YaHei";
	color:#fff;
}