label {
	display: inline-block;
	width: 200px;
	height: 60px;
	text-align: center;
	border: 1px solid #000;
	margin-right: 10px;
	position: relative;
	top: 6px;
}
.lable-1 {
	z-index: 1;
	border-bottom: 1px solid #FFF;
}
h2 {
	line-height: 60px;
}
.container {
	margin-top: 50px;
	width: 80%;
}
.c-table {
	padding-top: 20px;
	border: 1px solid #000;
}
a h2 {
	color: #666;
}
table {
	border: 0px;
}